@font-face {
    font-family: "Lemon-Milk";
    src: url("fonts/lemonmilk-medium.woff2") format("woff2"),
         url("fonts/lemonmilk-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("fonts/comfortaa-regular.woff2") format("woff2"),
         url("fonts/comfortaa-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*Basic body styling and colors*/
body {
    font-family: Arial, -apple-system, Helvectica, "Lemon-Milk", "Comfortaa";
    --dark-grey: #343434;
    --darker-grey: #131313;
    --milk-tea: #dbc99a;
    --off-white: #efefef;
    --milk-tea-wave-distance: 700px;
    --logo-height: 250px;

    margin: 0;
    width: 100vw;
    background-color: var(--milk-tea);
    display: block;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    font-family: "Comfortaa", Fallback, Arial;
    background-color: var(--dark-grey);
    color: var(--off-white);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    align-items: center;
    font-size: 1.5em;
}

nav a img {
    height: var(--logo-height);
    margin: 1em;
}

nav .links ul{
    text-align: left;
}

nav .links li {
    display: inline-flex;
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
    position: relative;
    flex-wrap: wrap;
}

nav a {
    color: var(--off-white);
    text-decoration: none;
}

nav a:hover {
    color: var(--off-white);
    text-decoration: underline;
}

nav .list .links li:hover {
    color: var(--off-white);
}

.background-photo {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: var(--logo-height);
}

/*Boba shapes*/
.wave-tea {
    position: absolute;
    top: var(--milk-tea-wave-distance);
    left: 0;
    width: 100%;
    overflow-x: hidden;
    line-height: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.wave-tea svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 218px;
    padding: 0;
    margin: 0;
}

.wave-tea .shape-fill {
    fill: #DBC99A;
}

.straw {
    z-index: 1;
    position: relative;
    top: 300px;
    width: 100vw;
    overflow-x: hidden;
}

.milk-tea-area {
    position: absolute;
    top: calc(var(--milk-tea-wave-distance) + 217px);
    background-color: var(--milk-tea);
    width: 100vw;
    margin: 0;
    z-index: 2;
}

.boba-container {
    position: relative;
    width: 100vw;
    z-index: 10;
    bottom: 0;
}

.content-box {
    display: flex;
    text-align: center;
    margin: 4em;
    border-radius: 25px;
    background-color: var(--darker-grey);
    width: auto;
    height: 500px;
    padding: 2em;
    color: var(--off-white);
}

.content-box p {
    text-align: left;
}


/*CSS that adjusts the website for desktop use*/
@media only screen and (min-width: 768px) {

}